
.login-page {
  min-height: 100vh;
  display: flex;
  background: #f7f7f7;
}


.brand-panel {
  width: 48%;
  min-height: 100vh;
  padding: 50px 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  color: #94191d;

  position: relative;
  overflow: hidden;

  border-right: 15px solid #94191d;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 15px solid #94191d;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 15px solid #94191d;
  border-top:15px solid #94191d;
  
}



.brand-panel::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  right: -250px;
  bottom: -250px;
  border-radius: 50%;
  border: 80px solid rgba(243, 153, 153, 0.04);
}


.brand-header {
  display: flex;
  align-items: center;
  gap: 22px;
  position: relative;
  z-index: 2;
}

.logo-fisei {
  width: 350px;
  height: 250px;
  object-fit: contain;
  display: block;
  margin: 20px auto 0;
}

.faculty-name h2 {
  margin: 3px 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}


.brand-content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.faculty-title {
  text-align: center;
  color: #94191d;
  margin-bottom: 10px;
}

.faculty-title h2 {
  margin: 0 0 8px;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 2px;
}

.faculty-title h1 {
  margin: 0;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 30px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.faculty-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin: 18px auto 28px;
}

.faculty-separator span {
  width: 80px;
  height: 2px;
  background: #94191d;
}

.faculty-separator b {
  color: #94191d;
  font-size: 18px;
}
.system-title {
  font-size: 32px;
  line-height: 1.2;
  margin: 0 0 18px;
  font-weight: 700;
  color: #94191d;
  text-align: center;
}
.system-description {
  font-size: 17px;
  line-height: 1.6;
  margin: 0 auto;
  color: #666666;
  max-width: 520px;
  text-align: center;
  font-weight: 500;
}

.features {
  display: flex;
  gap: 0;
  position: relative;
  z-index: 2;
}

.feature {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.35);
}

.feature:first-child {
  padding-left: 0;
}

.feature:last-child {
  border-right: none;
}

.feature-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 5px;
  font-size: 24px;
}

.feature strong {
  font-size: 16px;
}

.feature small {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
}


.login-panel {
  width: 52%;
  min-height: 100vh;
  padding: 45px 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fafafa;
}

.login-card {
  width: 100%;
  max-width: 620px;
  padding: 45px 50px;

  background: white;
  border: 1px solid #e6e1e1;
  border-radius: 12px;

  box-shadow:
    0 15px 45px rgba(0, 0, 0, 0.08);
}


.login-header {
  text-align: center;
  margin-bottom: 35px;
}

.login-logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 12px;
}

.login-header h2 {
  margin: 2px 0;
  color: #94191d;
  font-size: 13px;
  font-weight: 700;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin: 20px 0;
}

.separator span {
  width: 45px;
  height: 1px;
  background: #d7c7c7;
}

.separator b {
  color: #94191d;
  font-size: 20px;
}

.login-header h1 {
  margin: 0;
  font-size: 32px;
  color: #292929;
}

.login-header p {
  margin: 8px 0 0;
  color: #777;
  font-size: 16px;
}


.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  margin-bottom: 9px;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 600;
}

.input-container {
  height: 58px;
  display: flex;
  align-items: center;

  border: 2px solid #ddd7d7;
  border-radius: 10px;

  background: #fff;

  transition: 0.2s;
}

.input-container:focus-within {
  border-color: #94191d;
  box-shadow: 0 0 0 3px rgba(148, 25, 29, 0.08);
}

.input-icon {
  width: 55px;
  text-align: center;
  font-size: 22px;
  color: #aaa;
}

.input-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;

  font-size: 16px;
  color: #333;
  background: transparent;
}

.input-container input::placeholder {
  color: #aaa;
}


.password-button {
  width: 50px;
  border: none;
  background: transparent;

  font-size: 22px;
  color: #999;

  cursor: pointer;
}


.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 5px 0 30px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #555;
  cursor: pointer;
}

.remember input {
  width: 20px;
  height: 20px;
  accent-color: #94191d;
}

.forgot-password {
  border: none;
  background: transparent;

  color: #94191d;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}


.login-button {
  width: 100%;
  height: 58px;

  border: none;
  border-radius: 10px;

  background: #94191d;
  color: white;

  font-size: 17px;
  font-weight: 700;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  transition: 0.2s;
}

.login-button:hover {
  background: #781316;
  transform: translateY(-1px);
}

.arrow {
  font-size: 24px;
}


.login-footer {
  margin-top: 25px;
  text-align: center;
  color: #888;
  font-size: 13px;
}

.login-footer p {
  margin: 0 0 7px;
}

.login-footer span {
  color: #555;
  font-weight: 600;
}


@media (max-width: 950px) {

  .login-page {
    flex-direction: column;
  }

  .brand-panel {
    width: 100%;
    min-height: auto;
    padding: 40px;
  }

  .brand-content {
    margin: 60px 0;
  }

  .login-panel {
    width: 100%;
    padding: 40px 25px;
  }

}


@media (max-width: 600px) {

  .brand-panel {
    padding: 30px 25px;
  }

  .brand-header {
    flex-direction: column;
    text-align: center;
  }

  .brand-content h1 {
    font-size: 32px;
  }

  .features {
    flex-direction: column;
    gap: 20px;
  }

  .feature {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 0 15px;
  }

  .login-card {
    padding: 35px 25px;
  }

  .login-options {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

}